//PrimaryColors
$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);
//NeutralColors
$darkGrayishRed: hsl(0, 6%, 24%);

//Gradients
$gradientRose: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradientOrange: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    
}

.coming-soon{
    .desktop-pattern{
        display: none;
    }
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $gradientRose;
    .coming-header{
        padding: 1.5em 2em;
        .header-img{
            width: 100px;
        }
    }
    .coming-img{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .coming-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5em;
        .coming-title{
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2rem;
            letter-spacing: .4em;
            margin-bottom: 1em;
            .decorated-title{
                color: $desaturatedRed;
                font-weight: 300;
            }
        }
        .coming-text{
            color: $desaturatedRed;
            text-align: center;
            font-size: .8rem;
        }
        form{
            width: 100%;
            margin-bottom: 2em;
            .input-box{
                position: relative;
                width: 100%;
                margin-top: 1em;
                .input{
                    width: 100%;
                    padding: 1em ;
                    background: none;
                    border: 1px solid $desaturatedRed;
                    border-radius: 25px;
                    
                }
                .input-error{
                    border: 1px solid $softRed;
                }
                .input::placeholder{
                    color: $desaturatedRed;
                    font-weight: bold;
                }
                .icon-arrow{
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: .9em 1.9em;
                    border-radius: 25px;
                    background: $gradientOrange;

                }
                .icon-error{
                    display: none;
                    position: absolute;
                    top: .6em;
                    right: 4.5em;
                }
                .error-text{
                    display: none;
                    color: $softRed;
                    margin-top: -.5em;
                    margin-left: 1.5em;
                    font-size: .8rem;
                }
                .active{
                    display: block;
                }
            }
        }
    }
}

@media (min-height:570px){
    .coming-soon{
        height: 100vh;
    }
}

@media(min-width:768px){
    .coming-soon{
        position: relative;
        background-image: url(../images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        .coming-header{
            padding: 3em;
            padding-left: 7em;
            .header-img{
                width: 400px;
            }
        }
        .coming-img{
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-image: url('../images/hero-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
            img{
                display: none;
            }
        }
        .coming-body{  
            padding-top: 5em 0em;
            width: 50%;
            .coming-title{
                padding: 0em 2.2em;
                width: 100%;
                text-align: left;
                font-size: 3rem;
                .decorated-title{
                    color: $desaturatedRed;
                    font-weight: 300;
                }
            }
            .coming-text{
                text-wrap: wrap;
                padding: 0 7em;
                width: 100%;
                text-align: left;
                font-size: 1rem;
            }
            form{
                margin-top: 2em;
                width: 70%;
                margin-bottom: 2em;
                .input-box{
                    position: relative;
                    width: 100%;
                    margin-top: 1em;
                    .input{
                        width: 100%;
                        padding: 1em ;
                        background: none;
                        border: 1px solid $desaturatedRed;
                        border-radius: 25px;
                        
                    }
                    .input-error{
                        border: 1px solid $softRed;
                    }
                    .input::placeholder{
                        color: $desaturatedRed;
                        font-weight: bold;
                    }
                    .icon-arrow{
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: .7em 1.9em;
                        border-radius: 25px;
                        background: $gradientOrange;
    
                    }
                    .icon-error{
                        display: none;
                        position: absolute;
                        top: .6em;
                        right: 5em;
                    }
                    .error-text{
                        display: none;
                        color: $softRed;
                        margin-top: .5em;
                        margin-left: 1.5em;
                        font-size: .8rem;
                    }
                    .active{
                        display: block;
                    }
                }
            }
        }
    }
}